.subscribe-button{
     background-color: red;
     color:white;
     border: none;
     height:36px;
     width: 105px;
     border-radius: 2px;
     cursor: pointer;
     margin-right: 8px;
     transition: opacity 0.15s;
}
.subscribe-button:hover{
     background-color: rgba(255, 0, 0, 0.432);
}
.subscribe-button:active{
     opacity: 0.8;
}
.jion-button{
     background-color: white;
     border-color:rgb(41,128,211);
     border-style:solid;
     border-width: 1px;
     color:rggb(41,128,211);
     height:36px;
     width:62px;
     border-radius: 2px;
     cursor: pointer;
}
.jion-button:hover{
     background-color: rgb(41,118,211);
     color:white;
}
.jion-button:active{
     opacity: 0.7;
}
.tweet-button{
     color:white;
     background-color: rgb(2, 158,255);
     border: none;
     height: 36px;
     width:70px;
     border-radius:18px;
     font-size: 15px;
     font-weight: bold;
     cursor: pointer;
     margin-left: 8px;
}
